extends navbar

append styles    
    style
        include ../assets/css/normalbo.css
append scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")

append content
        a(class="btn rounded-btn",href="/games/add",style="position: absolute;right: 10px;top: 50px;") Add Jogo
        div(style="margin-top:80px;")
            center
                if(jogos)
                    each jogo in jogos
                        each dados in jogo
                            - var jg = dados;
                            div(style="margin-top:20px;padding-left:25%;text-align:justify;border-bottom:1px solid;width:100%;")
                                form(action="/signup", method="post", id="jogosForm"+jg.id)
                                    label Imagem Casa:&emsp;&nbsp;&nbsp;
                                        input(placeholder="Imagem Casa", name="imgcasa", type="text",value=jg.equipaCasa,style="margin-right:25px;")
                                        | Imagem Fora:&emsp;
                                        input(placeholder="Imagem Fora", name="imgfora", type="text",value=jg.equipaFora,style="margin-right:80px;")
                                        | Nome do Jogo:&emsp;
                                        input(placeholder="Nome do Jogo", name="njogo", type="text",value=jg.nome,style="margin-right:25px;")
                                    label Golos Casa:&emsp;&emsp;&nbsp;&nbsp;
                                        input(placeholder="Golos Casa", name="gcasa", type="text",value=jg.golosCasa,style="margin-right:25px;")
                                        | Golos Fora:&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        input(placeholder="Golos Fora", name="gfora", type="text",value=jg.golosFora,style="margin-right:80px;")
                                        a(class="btn rounded-btn",onClick='subform("'+jg.id+'")') Save
                                        span &emsp;&emsp;
                                        a(class="btn rounded-btn",onClick='delform("'+jg.id+'")') Delete
        script
            include ../assets/scripts/games.js