extends navbar

append styles
    style
        include ../assets/css/normalbo.css
append scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")

append content
        a(class="btn rounded-btn",href="/users/add",style="position: absolute;right: 10px;top: 50px;") Add User
        div(style="margin-top:80px;")
            center
                if(users)
                    each user in users
                        each dados in user
                            - var usr = dados;
                            div(style="margin-top:20px;padding-left:25%;text-align:justify;border-bottom:1px solid;width:100%;")
                                form(action="/users", method="post", id="usersForm"+usr.id)
                                    label Profile Picture Url:&emsp;
                                        input(placeholder="Profile Picture Url", type="text",value=usr.picurl,name="picurl",style="margin-right:25px;")
                                        | Username:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
                                        input(placeholder="Username", value=usr.username,name="usernm", type="text",style="margin-right:80px;")
                                        | Email:&emsp;&emsp;&emsp;&nbsp;&nbsp;
                                        input(placeholder="Email", name="email", type="text",value=usr.email,style="margin-right:80px;")
                                    label Password:&emsp;&emsp;&emsp;&emsp;&nbsp;
                                        input(placeholder="Password", name="pass",onkeyup="verificaPass('"+usr.id+"')", type="password", id="pass"+usr.id,value=usr.password,style="margin-right:25px;")
                                        | Confirm Password:&emsp;
                                        input(placeholder="Confirm Password", name="confirmPass", id="confirmPass"+usr.id,onkeyup="verificaPass('"+usr.id+"')", type="password",style="margin-right:78px;")
                                        | First Name:&emsp;
                                        input(placeholder="First Name", name="firstName",value=usr.firstName, type="text",style="margin-right:25px;")
                                    label Last Name:&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
                                        input(placeholder="Last Name", name="lastName",value=usr.lastName, type="text",style="margin-right:25px;")
                                        | IsAdmin:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
                                        input(placeholder="Is Admin", name="admin",value=usr.admin,type="text",style="margin-right:80px;")
                                        a(class="btn rounded-btn",onClick="subform('"+usr.id+"');") Save
                                        span &emsp;
                                        a(class="btn rounded-btn",onClick="delform('"+usr.id+"');") Delete
                                        span &emsp;
                                        a(class="btn rounded-btn",onClick="rstform('"+usr.id+"')") Reset
                                        br
                                        label(style="display:none;margin-left:190px;margin-bottom:-10px;",id="confirmMessage"+usr.id) Message: 
        script
            include ../assets/scripts/users.js